# ignore all local VSCode and Visual Studio files and directories
*.vcxproj.*
*.vcxproj
.vs/
.vscode/
Debug/
x64/
*.sln

# ignore .exe
*.exe

# ignore .venv
.venv/

# ignore Ruby LSP
.ruby-lsp/

# ignore node_modules
node_modules/
